@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

<<<<<<< HEAD
body.dark { 
    background: linear-gradient(to left, #0F172A, #022C22);
=======
body { 
    background: linear-gradient(to right, #0F172A, #022C22);
>>>>>>> main
}
body.ligth {
    background: linear-gradient(
  to bottom,
  #f5e0b0 0%,
  #e8a04a 18%,
  #c45c1a 40%,
  #7a2606 65%,
  #3b0e02 85%,
  #1a0400 100%
);
}

p {
    color: white;
    padding: 1.5rem;
    font-size: 1.25rem;
    margin-left: 2rem;
}
